#!text
[BASIC]
function-rgx=[_]{0,2}[A-Z]{0,1}[A-Za-z0-9]{2,40}$|__[a-z]{2,10}__
method-rgx=[_]{0,2}[A-Z]{0,1}[A-Za-z0-9]{2,40}$|__[a-z]{2,10}__|_init_[_a-z]{2,40}
variable-rgx=[a-z_][A-Za-z0-9_]{1,40}$
argument-rgx=[a-z_][A-Za-z0-9_]{1,40}$
attr-rgx=[a-z_][A-Za-z0-9_]{1,40}$
const-rgx=[_]{0,2}[A-Z]{2,40}|wxID_[A-Z]{2,40}
module-rgx=[A-Za-z0-9]{2,40}$

[TYPECHECK]
additional-builtins=_
ignored-modules=wx,wx.aui,wx.adv,wx.html

[MESSAGES CONTROL]
disable=missing-docstring
