recursive-include data *
recursive-include docs *
recursive-include po *
recursive-include res *
recursive-include scripts *
recursive-include windows *

include CHANGES
include COPYING
include MANIFEST.in
include README
include make.bat
