recursive-include data *
recursive-include po *
recursive-include docs *

include windows/photofilmstrip.bat
include windows/photofilmstrip-cli.bat
include CHANGES
include COPYING
include MANIFEST.in
include README
