[Desktop Entry]
Version=1.9.0
Encoding=UTF-8
Name=PhotoFilmStrip
GenericName=Slideshow Creator
Comment=Create animated slideshows
Exec=photofilmstrip
Icon=/usr/share/pixmaps/photofilmstrip.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo;
