Source: photofilmstrip
Section: video
Priority: optional
Maintainer: Jens Göpfert <mail@jensgoepfert.de>
Uploaders: Jens Göpfert <mail@jensgoepfert.de>
Build-Depends: debhelper (>= 7), python (>= 2.6.6-3)
X-Python-Version: >= 2.6
Standards-Version: 3.8.4
Homepage: http://www.photofilmstrip.org

Package: photofilmstrip
Architecture: all
Depends: ${misc:Depends}, python-wxgtk3.0, python-pil, python-gst-1.0, gstreamer1.0-libav
Description: Slideshow creator with Ken Burns effect
 This creates movies out of your pictures in just three steps.
 First select your photos, customize the motion path and render the
 video. There are several output possibilities for VCD, SVCD, DVD up to
 FULL-HD.
 .
 The effect of the slideshow is known as "Ken Burns". Comments of the
 pictures are generated into a subtitle file. Furthermore an audio file
 can be specified to setup the background musice for the slide show.
