[Desktop Entry]
Version=2.1.0
Encoding=UTF-8
Name=PhotoFilmStrip
GenericName=Slideshow Creator
Comment=Create animated slideshows
Exec=photofilmstrip
Icon=photofilmstrip
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo;
