[Desktop Entry]
Version=2.1.0
Name=PhotoFilmStrip
GenericName=Slideshow Creator
Comment=Create animated slideshows
Keywords=album;gallery;image;images;photo;photographs;photos;picture;pictures;photography;video;
Exec=photofilmstrip
Icon=photofilmstrip
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo;
